.InputText{
    background: #fff;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    margin: 3rem auto 0  auto;
    border-radius: .3rem;
}
.InputText input{
    width: 100%;
    margin-right: .5rem;
    border: none;
    outline: none;
    font-size: 1rem;
}